body{
    font-family: "montserrat";
    font-weight: 50px;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat';
}
h1{
   
    font-size: 3.5rem;
    line-height: 1.5;
}

h3{
    font-size: 1.5rem;
   
}

h2{
    font-size: 3.5rem;
    line-height: 1.5;  
}

p{
    color: #8f8f8f;
}


#title{
    color: white;
   background-color:  #ff4c68;
}

.container-fluid{
    padding: 3% 15% 7%;

}


/* navigation bar */
.navbar{
    padding: 0 0 4.5rem 0;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-weight: bold;
    font-size: 2.5rem;
    
}

.nav-item{
    padding: 0 18px;
}

.nav-tag{
    font-size: 1.2rem;
    font-family:"montserrat-light" ;
}

.title-img{
    width: 50%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

.div-class{
text-align: center;
padding:5%;
}

.ic{
    color: #ef8172;
    padding-bottom: 20px;
}

.feature{
    padding: 7% 15%;
}


.ic:hover{
    color:#ff4c68;
}

#testimonials{
    background-color: #ef8172;
    color: white;
    text-align: center;
  
}


.testimonial-image{
    border-radius: 100%;
    width: 10%;
    margin: 20px;
}

#press{
text-align: center;
background-color:#ef8172 ;
}

.logo-img{
    width: 15%;
    margin:20px 20px 50px;
}

.carousel-item{
    padding:7% 15%;
}

#pricing{
padding: 7% 15%;
}


#features{
    background-color: white;
    position: relative;

}

@media (max-width:1028px){
    .title-img{
        transform: rotate(0);
        position: static;
    }

    #title{
        text-align: center;
    }
    
}

#cta{
    background-color:#ff4c68 ;
    color: white;
    padding: 7% 25%;
    font-family: "montserrat";
    text-align: center;
    line-height: 5;
    
}

.cta-heading{
    font-size: 3rem;
}

#footer{
    padding: 7% 15%;
    text-align: center;
    line-height: 2.5;
}

.footer-icon{
    margin: 0 1%;
}